@import "../main.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-description_container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 5rem);
  overflow: hidden;
  line-height: 2rem;
}

.product-description_images-section {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: scroll;
  mix-blend-mode: multiply;
}

.product-description_images-section img {
  margin: 10px;
  height: 8rem;
  width: 10rem;
  cursor: pointer;
  object-fit: contain;
  padding: 0.5rem;
}

.product-description_main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-height: 100vh;
  mix-blend-mode: multiply;
}

.product-description_main-img img {
  width: 100%;
  max-height: 100%;
}

.product-description_text p {
  font-size: x-large;
}

.product-description_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
}

.product-decription_attribute-select-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.product-description_info {
  padding-top: 1rem;
  text-align: start;
  font-size: small;
  white-space: wrap;
  overflow-y: scroll;
}

.product-description_info ul {
  list-style: inside;
}

.disabled-button {
  cursor: default;
  min-width: 15rem;
  min-height: 3rem;
  background-color: var(--gray);
  color: var(--white);
}

.disabled-button:hover {
  animation: none;
}
