* {
  margin: 0;
  padding: 0;
}

.cart-page {
  width: 90%;
  margin: 0 auto;
}

.cart-page_title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cart-page_alternative-title {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.cart-page_statistics {
  display: flex;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.cart-page_statistics div {
  margin-left: 0.5rem;
}
