@import "../main.css";

.select {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.select_attribute-title {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.select_attributes {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: small;
  width: 100%;
}

.select_swatch {
  width: 1.5rem;
  height: 1.5rem;
}

.select_swatch:not(:first-child) {
  margin-left: 0.3rem;
}

.select_non-swatch {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black);
  width: 3rem;
  height: 2rem;
  margin: 0 0.5rem 0 0;
  padding: 0.5rem;
  font-size: small;
}

.item-swatch {
  border: 1px solid var(--main-color);
}

.item-non-swatch {
  background-color: var(--black);
  color: var(--white);
}
