.cart_overlay {
    padding: 1rem;
    position: absolute;
    width: 25%;
    height: auto;
    top: 5rem;
    right: 5%;
    background-color: #FFFFFF;
}

.cart_overlay-actions {
    display: flex;
    justify-content: space-between;
}