@import "../main.css";

.container-cart {
  position: relative;
  cursor: pointer;
}

div.container-cart.in-cart {
  cursor: default;
}

sup {
  position: absolute;
  bottom: 12px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: 900;
  user-select: none;
}

.cart_total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cart_overlay {
  padding: 1rem;
  position: absolute;
  width: 25%;
  max-height: 70%;
  top: 5rem;
  right: 5%;
  background-color: var(--white);
  overflow: scroll;
}

.cart_overlay-actions {
  display: flex;
  justify-content: space-between;
}
