.container {
  display: flex;
  position: relative;
  width: 2rem;
  height: 1.5rem;
  z-index: 1;
  background-color: #ffffff;
  cursor: pointer;
}

.currency-icon {
  position: relative;
  right: 0.3rem;
}

.currency-container {
  display: none;
}

.currency-container-activated {
  width: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  position: absolute;
  line-height: 28px;
  top: 25px;
  left: 0;
  background-color: #ffffff;
}

.currency-container-activated li {
  width: 100%;
}

.caret {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
}

.caret-activated {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  transform: rotate(180deg);
}
