*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #1D1F22;
    --link-color: #5ECE7B;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 5rem;
    border: 1px solid black;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13rem;
    height: 100%;
}

nav ul li, a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 16px;
    height: 100%;
    text-transform: uppercase;
}

.hovered > a {
    border-bottom: 2px solid var(--link-color);
    color: var(--link-color);
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8rem;
}